<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
</div>
<div class="login-box">

    <h1>Dashboard</h1>

    <h3>
        Welcome {{ username }}
    </h3>

    <p>
        Email: {{ email }}
    </p>
    <p>Role: {{ role }}</p>

    {% if role == 'admin' %}

    <br>

    <a href="/admin">
        <button>Admin Panel</button>
    </a>

    {% endif %}

    <br>

    <a href="/profile">
        <button>Profile</button>
    </a>

    <br><br>

    <a href="/logout">
        <button>Logout</button>
    </a>


</div>

</body>
</html>